

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
  }
  
  body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0px 0px;
    background-color: black;
  }
  
  .attribution { 
    font-size: 11px; text-align: center; 
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
  }
  
  h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);
  
  }
  
  h1:last-of-type {
    color: var(--varyDarkBlue);
  }
  
  @media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
  }
  
  .header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  
  .header p {
    margin: 0 auto;
    line-height: 2;
    color: red;
  }
  
  
  .box p {
    color: var(--grayishBlue);
  }
  
  .box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px #f32170;
    padding: 30px;
    margin: 20px;  
  }
  
  img {
    float: right;
    height: 100px;
    width: 150px;
  }
  
  @media (max-width: 450px) {
    .box {
        height: 200px;
    }
  }
  
  @media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
  }
  
  .cyan {
    border-top: 3px solid var(--cyan);
  }
  .red {
    border-top: 3px solid var(--red);
  }
  .blue {
    border-top: 3px solid var(--blue);
  }
  .orange {
    border-top: 3px solid var(--orange);
  }
  
  h2 {
    color: red;
    background: linear-gradient(to right, #f32170, 
                    #ff6b08, #cf23cf, #eedd44); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
    font-weight: var(--weight3);
  }
  
  
  @media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
    
  }
  .navbar {
    background-color: #AF2655;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: white;
    border-radius: 3px;
  }
  
  .navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.3s;
  }
  
  .navbar a:hover {
    background-color: rgb(44, 218, 32);
    box-shadow: 0 0 15 white;
    border-radius: 50px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    color: black;
  }
  
  .navbar a.active {
    background-color: rgb(255, 221, 0);
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    color: black;
  }
  .line{
    height: 3px;
    width: inherit;
  
    background-color: black;
    box-shadow: 0px 5px 10px rgb(255, 255, 255);
  }

  @keyframes rotate {
    from{
      rotate: 0deg;
    }50%{
      scale:1 1.5;

    }
    tp{
      rotate: 360deg;
    }
  }
  #blob{
    background-color: #fff;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right,#06ffac,#fa36b8);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -1;

  }
  #blur{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(10vmax);
  }